---
import Layout from "../layouts/Layout.astro";

// import BKG from "../assets/green_landscape.webp";

const Title = "Flipper Cafe";
const Font =
    "https://fonts.googleapis.com/css2?family=Pacifico&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

const Link = "https://github.com/PolyCatDev/flipper-cafe";
---

<Layout title={Title} font={Font}>
    <main>
        <h1 class="shadow">Flipper Cafe</h1>
        <h3 class="shadow">The coziest community database</h3>
        <a href="https://github.com/PolyCatDev/flipper-cafe"
            ><button aria-label="Link to the Flipper Cafe Github">Get the files</button></a
        >
    </main>
</Layout>

<style>
    body {
        background-color: rgb(33, 37, 34);
        background-image: url(/bkg.webp);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        height: 100vh;
        width: 100vw;
    }

    main {
        padding-top: 20vh;
        color: #ddd;
    }

    h1 {
        font-family: Pacifico;
        font-size: 700%;
        margin: 10px;
    }

    h3 {
        font-size: 180%;
        padding: 10px 0 10px 0;
    }

    @media (max-width: 642px) {
        h1 {
            font-size: 600%;
        }

        h3 {
            font-size: 160%;
        }
    }
    @media (max-width: 553px) {
        h1 {
            font-size: 500%;
        }

        h3 {
            font-size: 120%;
        }
    }

    @media (max-width: 464px) {
        h1 {
            font-size: 400%;
        }

        h3 {
            font-size: 100%;
        }
    }

    .shadow {
        text-shadow: 3px 3px 5px rgb(23, 22, 24);
    }

    button {
        font-size: 120%;
        font-weight: bold;
        background-color: #ddd;
        border-radius: 10px;
        padding: 10px 20px 10px 20px;
        margin: 10px;
        box-shadow: 0 0 10px black;
    }
</style>
